$main-color-r : #d9352c;
$main-color-b : #000000;
$main-color-text : #666666;
$light-grey: #BBBBBB;

@font-face{
  font-family: 'Raleway-Light';
  src : url('../font/Raleway-Light.ttf');
}

@font-face{
  font-family: 'Raleway-Regular';
  src : url('../font/Raleway-Regular.ttf');
}

@font-face{
  font-family: 'Raleway-Bold';
  src : url('../font/Raleway-Bold.ttf');
}

@font-face{
  font-family: 'Raleway-Black';
  src : url('../font/Raleway-Black.ttf');
}

//******************************************************************************
//                              Global CSS
//******************************************************************************

body{
  h1{
    font-family: 'Raleway-Light';
    color: $main-color-b;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 0;
  }

  .letter-bold{
    font-size: 90px;
  }

  p{
    font-family: 'Raleway-Light';
    color: $main-color-text;
    font-size: 12px;
  }
}


#menubar{

  position: fixed;
  z-index: 1000;
  font-family: Raleway-Light;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  padding: 1% 3% 0 3%;
  right: 0;
  align-items: center;

  #menu-logo{
    text-align: left;

    img{
      max-width: 140px;
    }
  }

  ul{
    border: none;

    a{
      color: $main-color-b;
      font-size: 1rem;

      &:hover{
        color: $main-color-r;
      }
    }
  }

  button {
    border: none;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }

  .nav-tabs{
    display: flex;

    li{
      flex: 1;
    }
  }

  #menu-active{
    color: $main-color-r;
  }

  #menu-donate{
    background-color: $main-color-r;
    color: white;
    padding: 7px 18px;
    border-radius: 12px;
  }
}


#socialmedia{
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  left: 50px;
  text-align: left;

  ul{
    list-style: none;
    padding: 0;

    li{
      text-decoration: none;
      margin-top: 25px;

      img{
        width: 100%;
        max-width: 45px;
      }
    }
  }
}

/*Full page js style pagination*/
#fp-nav{
  left: 60px !important;
  margin-top: -110px !important;
}


//******************************************************************************
//                          Home Page CSS
//******************************************************************************
.homepage{
  //Slider 1
  .home-section-1{
    .fp-tableCell{
      vertical-align: top;
      padding-top: 180px;
    }
    .title{
      p{
        margin: 35px 0 45px 0;
      }
    }
    .bg{
      img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 65%;
      }
      #human-swing{
        width: 50%;
        right: 100px;
      }
    }
  }
  //Slider 2
  .home-section-2{
    .fp-tableCell{
      vertical-align: top;
      padding-top: 180px;
    }
    .title{
      p{
        margin: 50px 0 65px 0;
      }
      a{
        border: $main-color-r solid 1px;
        border-radius: 20px;
        color: $main-color-r;
        font-family: Raleway-Light;
        letter-spacing: 2px;
        padding: 8px 30px;

        &:hover{
          background-color: $main-color-r;
          color: white;
          text-decoration: none;
        }
      }
      .img-container{
        width: 100%;
        overflow:hidden;
        max-height: 200px;

        img{
          width: 100%;
        }
      }
    }
    .video{
      .grey-square{
        position: absolute;
        width: 280px;
        height: 180px;
        bottom: 210px;
        right: 250px;
        background-color: $light-grey;
      }
      .video-container{
        position: absolute;
        right: 350px;
        bottom: 230px;
      }
      .image-container{
        position: absolute;
        width: 280px;
        height: 200px;
        bottom: 225px;
        right: 40px;
        overflow: hidden;

        img{
          width: 100%;
        }
      }
    }
  }

  //slider3
  .home-section-3{
    .fp-tableCell{
      vertical-align: top;
      padding-top: 120px;
    }
    .title{
      h1{
        width: 60px;
        word-wrap: break-word;
      }
      .city-anchor{
        color: $light-grey;
        font-size: 10px;
      }
      .news-type{
        font-size: 10px;
        color: white;
        background-color: $main-color-r;
        display: inline-block;
        padding: 1px 4px;
      }
      #top-news-title{
        color: $main-color-text;
        margin: 20px 0;
        font-size: 14px;
      }
      .news-more{
        color: $main-color-r;
        border: $main-color-r solid 1px;
        border-radius: 12px;
        padding: 5px 20px;
        font-size: 10px;

        &:hover{
          background-color: $main-color-r;
          color: white;
          text-decoration: none;
        }
      }
      .top-news{
        max-height: 310px;

        #top-news-image-container{
          width: 100%;
          height: 300px;
          overflow: hidden;

          img{
            width: 100%;
          }
        }
      }
      .bot-news{
        max-height: 310px;
        margin-top: 40px;

        .city-anchor{
          display: inline-block;
          margin-top: 20px;
        }

        .news-type{
          float: right;
          margin-top: 20px;
        }

        .news-more{
          float: right;
        }

        p{
          color: $main-color-text;
          margin: 10px 0 20px 0;
          font-size: 14px;
        }

        .image-container{
          width: 100%;
          height: 150px;
          overflow: hidden;
          object-fit: fill;

          img{
            width: 100%;
          }
        }

        #badminton{
          width: 100%;
          position: absolute;
          top: 20px;
        }

        #badminton-shadow{
          margin-top: 60px;
          width: 100%;
        }
      }
    }
  }

  //slider4
  .home-section-4 {
    .fp-tableCell {
      vertical-align: top;
      padding-top: 140px;
    }

    .title{
      p{
        max-width: 460px;
        margin: 30px 0 40px 0;
      }

      .donate-button{
        background-color:  $main-color-r;
        color: white;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;
        letter-spacing: 4px;
        font-family: Raleway-Light;

        &:hover{
          opacity: 0.5;
          text-decoration: none;
        }
      }

      .donate-card{
        box-shadow: $light-grey 2px 2px 5px;
        margin-top: 40px;
        padding: 35px 0 40px 35px;
        font-family: Raleway-Light;

        .donate-number{
          font-size: 45px;
        }

        .donate-title{
          color: $main-color-r;
          font-size: 20px;
        }
      }

      h3{
        font-family: Raleway-Light;
        color: $main-color-text;
      }

      .partner-logo{
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;

        img{
          max-width: 100px;
          margin-right: 50px;
        }
      }
    }

    #backtotop{
      position: absolute;
      right: 50px;
      bottom: 20px;
      a{
        font-family: Raleway-Light;
        font-size: 25px;
        color: $main-color-r;
      }
    }
  }
}

//******************************************************************************
//                       About Us Page CSS
//******************************************************************************
.nonhome-menubar{
  margin-top: 25px !important;

  a{
    color: $main-color-b;

    &:hover{
      text-decoration: none;
    }
  }
}
.aboutuspage{
  .grow-path{
    .fp-tableCell {
      vertical-align: top;
      padding-top: 180px;
    }

    h4{
      font-family: Raleway-Light;
      font-size: 25px;
      color: $main-color-text;
    }

    p{
      margin-top: 45px;
    }

    .grow-path-middleimg{
      padding: 0 30px;
    }

    .president-image-container{
      overflow: hidden;
      width: 100%;
      height: 120px;
      margin-top: 40px;
    }

    #toNextSlide{
      position: absolute;
      right: 50px;
      bottom: 20px;
      a{
        font-family: Raleway-Light;
        font-size: 25px;
        color: $main-color-r;
      }
    }
  }
  .contact-us{
    .fp-tableCell {
      vertical-align: top;
      padding-top: 140px;
    }

    .title{
      p{
        color: $main-color-text;
        margin: 30px 0 40px 0;
      }

      .contact-info{
        color: $main-color-text;
        font-family: Raleway-Light;
        font-size: 12px;
        margin-bottom: 25px;

        img{
          width: 25px;
          margin-right: 25px;
        }
      }
    }

    #map{
      margin-left: 10%;
      width: 90%;
      height: 400px;
      margin-top: 30px;
    }

    #backtotop{
      position: absolute;
      right: 50px;
      bottom: 20px;
      a{
        font-family: Raleway-Light;
        font-size: 25px;
        color: $main-color-r;
      }
    }
  }
}

//******************************************************************************
//                       About Us Page CSS
//******************************************************************************
.aboutuspage{

  .school-project{
    .fp-tableCell {
      vertical-align: top;
      padding-top: 140px;
    }
    .school-title{
      border-bottom: 1px solid black;

      h1{
        padding-bottom: 20px;
      }
    }
    .content-process{
      .content-process-container{
        align-items: center;
        justify-content: flex-start;
        display: flex;

        div{
          display: inline-block;
        }

        .progress-expanded{
          margin: 40px 0 0 80px;

          .progress-expanded-number{
            background-color: $main-color-r;
            color: white;
            padding: 5px 100px 5px 20px;
            display: inline-block;
            font-family: Raleway-Regular;
            font-size: 50px;
            position: absolute;
            top: 120px;
            left: 0;
          }
          .progress-expanded-image{
            width: 300px;
            height: 225px;
            overflow: hidden;

            img{
              max-width: 100%;
            }
          }
          h5{
            font-family: Raleway-Light;
            color: $main-color-b;
            font-size: 20px;
            margin: 15px 0;
          }
          p{
            width: 300px;
          }
        }

        .progress-middle-bar{
          width: 120px;
          height: 1px;
          border: 1px solid $main-color-b;
          background-color: $main-color-b;
          margin: 0 25px;
        }
        .progress-nonexpanded{
          h5{
            color: $main-color-text;
            font-family: Raleway-Light;
            font-size: 20px;
          }
        }
      }
    }
    #toNextSlide{
      position: absolute;
      right: 50px;
      bottom: 20px;
      a{
        font-family: Raleway-Light;
        font-size: 25px;
        color: $main-color-r;
      }
    }
  }

  .community-project{
    .fp-tableCell {
      vertical-align: top;
      padding-top: 120px;
    }

    .community-title{
      background-image: url("../image/ref-images/home-s3-1.jpg");
      background-size: cover;
      padding: 0;
      margin-bottom: 30px;

      h1{
        color: white;
        background-color: black;
        opacity: 0.5;
        padding: 45px 15px;
      }
    }

    .main-content{
      margin-top: 20px;

      p{
        color: $main-color-text;
        font-family: Raleway-Light;
      }

      h5{
        color: $main-color-r;
        font-family: Raleway-Regular;
        font-size: 16px;
      }

      .content-to-right{
        text-align: right;
      }
      .content-to-left{
        text-align: left;
        margin-left: 30px;
      }
    }

    #backtotop{
      position: absolute;
      right: 50px;
      bottom: 20px;
      a{
        font-family: Raleway-Light;
        font-size: 25px;
        color: $main-color-r;
      }
    }
  }
}

//******************************************************************************
//                       Gallery Page CSS
//******************************************************************************
.gallery-menubar{
  background-color: white;
  padding-top: 3% !important;
  padding-bottom: 1% !important;
  margin-top: 0 !important;
}

.gallerypage{
  overflow: scroll;

  .fp-tableCell {
    vertical-align: top;
    padding-top: 120px;
  }


  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: 33.333%;
    padding: 5px;
  }

  .grid-item {
    float: left;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }

}




//******************************************************************************
//                       Public Info Page CSS
//******************************************************************************
.publicinfopage{
  .fp-tableCell {
    vertical-align: top;
    padding-top: 180px;
  }

  h5{
    font-family: Raleway-Light;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .donate-card-container{
    padding: 0 30px 0 0;
    margin-bottom: 70px;

    .donate-card{
      box-shadow: $light-grey 2px 2px 5px;
      padding: 20px 0 25px 35px;
      font-family: Raleway-Light;

      .donate-number{
        font-size: 22px;
      }

      .donate-type{
        color: $main-color-r;
        font-size: 12px;
      }
    }
  }

  .total-donate-data{
    margin-bottom: 100px;

    h4{
      font-family: Raleway-Light;
      font-size: 45px;

      span{
        font-size: 20px;
        color: $main-color-r;
      }
    }
  }

  .final-donate-data{
    padding: 0;
    font-family: Raleway-Light;

    div{
      padding: 0;

      h4{
        span{
          font-size: 45px;
        }
        #money-unit{
          font-family: Raleway-Bold;
          color: $main-color-r;
          font-size: 14px;
        }
      }

      a{
        color: white;
        background-color: $main-color-r;
        padding: 10px 30px;
        border-radius: 15px;
      }
    }
  }
}

//******************************************************************************
//                       Donate Page CSS
//******************************************************************************
.donatepage{
  .fp-tableCell {
    vertical-align: top;
    padding-top: 180px;
  }

  font-family: Raleway-Light;

  h2{
    color: white;
    font-size: 35px;
    margin-bottom: 50px;
  }

  p{
    color: white;
    margin-bottom: 30px;
  }

  a{
    color: white;
    background-color: $main-color-r;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 8px 0;
    letter-spacing: 5px;
    margin-top: 50px;
  }

  .form-bg{
    background-color: black;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    height: 400px;
    top: 0;
    left: 0;
  }

  .form-volunteer{
    color: white;
    padding: 30px 20px;

    .title{
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }

    button{
      border-radius: 15px;
      border: $main-color-r 1px solid;
      color:$main-color-r;
      background-color: transparent;
      padding: 3px 0;
      margin-top: 20px;

      &:hover{
        text-decoration: none;
        background-color: $main-color-r;
        color: white;
      }
    }
    input{
      width: 100% !important;
      margin-bottom: 25px;
    }
  }

  .bg {
    /* The image used */
    background-image: url("../image/donating-bg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.donate-menubar{
  margin-top: 25px !important;

  div{
    color: white;
  }

  a{
    color: white;

    &:hover{
      text-decoration: none;
    }
  }
}
